html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;

  /* Some rules for the form */
  font-family: sans-serif;
  background: #333;
  color: #fff;
  text-transform: capitalize;
}

#game{
  position: relative;
  width: 800px;
  height: 600px;
  margin: 20px auto 40px;
  box-shadow: 0 1px 15px #222;
  overflow: hidden;
  -webkit-transform: perspective(200px) rotateX(15deg) translateY(-90px);
          transform: perspective(200px) rotateX(15deg) translateY(-90px);
}

#gameover,
#win {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

}

#gameover {
  display: none;
  background: tomato;

}

#win {
  opacity: 0;
  pointer-events: none;
}

#start-spot {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateY(-50%);
  background: #fff;
}

.wall-left,
.wall-right {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%; /* This value changes to 400 % once the level is drawn */
  background: linear-gradient(#fff,#777);
}

.wall-left {
  left: 0;
  -webkit-clip-path: polygon(
    0 0 /* The first point at top_left of the screen */,
    40% 0 /* The second point at top_right of the form */,
    35% 15% /* This point like the previous ones creates the << zig-zag >> */,
    55% 35%,
    45% 45%,
    60% 60%,
    30% 80%,
    40% 100% /* This point is on the Left of the #Start-spot */,
    0 100% /* This point is at bottom_left of the screen */
    );
}

.wall-right {
  right: 0;
  -webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%, 44% 81%,
     70% 60%,57% 44%, 65% 35%, 46% 15%);
}
