html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;

  /* Some rules for the form */
  font-family: sans-serif;
  background: #333;
  color: #fff;
  text-transform: capitalize;
}

#game{
  position: relative;
  width: 800px;
  height: 600px;
  margin: 20px auto 40px;
  box-shadow: 0 1px 15px #222;
  overflow: hidden;
  -webkit-transform: perspective(200px) rotateX(15deg) translateY(-90px);
          transform: perspective(200px) rotateX(15deg) translateY(-90px);
}

#gameover,
#win {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

}

#gameover {
  display: none;
  background: tomato;

}

#win {
  opacity: 0;
  pointer-events: none;
}

#start-spot {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateY(-50%);
  background: #fff;
}
